{% extends 'pizzas/base.html' %}

{% block page_header %}
<h2>{{ pizza }}</h2>
{% endblock page_header %}

{% block content %}
<h5>Toppings:</h5>
<ul>
    {% for t in toppings %}
        <li>
            {{ t.topping_name }}
        </li>
    
    {% empty %}
    <p> There are no toppings on this pizza.</p>
    {% endfor %}

</ul>
<p>
    <img src="{{ pizza.image.url }}">
</p>

<h4><p>Comments:</p></h4>

<p><a href="{% url 'pizzas:comment' pizza.id %}">Add Comment</a></p>


<ul>
    {% for c in comments %}
        
        <li>{{ c.date_added|date:'M d, Y H:i'}}</li>
    
        <li>{{ c.comment_text|linebreaks }}</li>

    {% empty %}
    <p>There are no comments yet. Tell us what you think by adding a comment!</p>
    {% endfor %}
</ul>

{% endblock content %}